@charset "utf-8";


/* 공유기능 요소 셋팅 */
@import url(./core.css); 
@import url(./reset.css);




/**************************상단*********************/
#header {
  position: fixed;
  /* 상단고정-보이는화면기준 */
  width: 100%;
  z-index: 9999; /* 맨위! */
  background: #c8c8c8;
  border-bottom: 1px solid #E8E8E8;
}
/* 상단영역 속박스 */
.header {
  position: relative;
  /* 부모자격 */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
#logo{
  width: 20%;
  line-height: 100px;
   
}

#logo a{
  font-weight: bold;
}
#logo img {
  width: 100%;
  margin-top: -24px;
}

/* GNB 메뉴 */
.gnb {
  width:80%;
}

.gnb ul {
  display: flex;
  justify-content: flex-end;
}
.gnb li {
  margin: 0 20px;
}

.gnb li a{
  font-size:2.0rem;
  font-weight: bold;
}
/* 메뉴에 마우스 오버시 + li.on 인경우 */
.gnb a:hover,
.gnb li.on a {
  display: inline-block; /* 트랜스폼적용위해 */
  color: lime;
  text-decoration: overline; /* 윗줄 */
  transform: scale(1.1);
}




/* 인디케이터 */
.indic {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  /* 세로중앙이동 */
  left: 10px;
  width: 20px;
  /* outline: 3px dotted blue; */
}

.indic li {
  width: 100%;
  height: 10px;
  margin: 3px 0;
  cursor: pointer; /* 손가락모양 */
}

/* a요소 */
.indic a {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: #ccc;
  box-shadow: 1px 1px 1px #777;
  transition: width 0.4s;
}

/* 마우스 오버시 + 클래스 "on" */
.indic li:hover a,
.indic li.on a {
  width: 150%;
  background-color: #fff;
}

/* 설명글자숨기기 */
.indic span {
  display: none;
}


/**************************하단*********************/

#footer .inbox{
  padding: 20px 0;
}
.copyright{
  font-size: 18px;
  text-align: center;
}


/* 탑버튼 */
.top-btn{
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #7ccc35;
  border-radius: 100%;
  z-index: 999;
  transition: .3s ease-in-out;
  opacity: 0;
}

#footer .fa{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#fff;
 

}
.top-btn.on {
  opacity: 1;
}